* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #fffaf3;
    color: #1f2937;
}

/* HERO */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
    gap: 40px;
}

.hero-text {
    max-width: 500px;
}

.hero-text h1 {
    font-size: 44px;
    margin-bottom: 20px;
}

.hero-text h1 span {
    color: #ff5a00;
}

.hero-text p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.buttons {
    display: flex;
    gap: 15px;
}

.btn-primary {
    background: #ff5a00;
    color: white;
    border: none;
    padding: 14px 26px;
    border-radius: 8px;
    cursor: pointer;
}

.btn-outline {
    background: transparent;
    border: 2px solid #ff5a00;
    color: #ff5a00;
    padding: 14px 26px;
    border-radius: 8px;
    cursor: pointer;
}

.hero-image img {
    width: 420px;
    border-radius: 20px;
}

/* FEATURES */
.features {
    padding: 80px;
    text-align: center;
    background: white;
}

.features h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

.subtitle {
    color: #6b7280;
    margin-bottom: 50px;
}

.feature-cards {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.card {
    background: #fffaf0;
    padding: 40px;
    border-radius: 20px;
    width: 300px;
}

.icon {
    font-size: 40px;
    margin-bottom: 20px;
}

/* CONTACT */
.contact {
    padding: 80px;
}

.contact-box {
    display: flex;
    gap: 40px;
    margin-top: 40px;
}

.contact-info,
.contact-form {
    background: #fffaf0;
    padding: 40px;
    border-radius: 20px;
    width: 50%;
}

.contact-info p {
    margin: 20px 0;
}

.contact-form label {
    display: block;
    margin: 15px 0 5px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ddd;
}

.contact-form textarea {
    height: 120px;
}

.contact-form button {
    margin-top: 20px;
    width: 100%;
    padding: 14px;
    background: #ff5a00;
    border: none;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
